{
  "extends": "airbnb-base",
  rules: {
    'no-undef': 'off',
    'camelcase': 'off',
    'strict': 'off',
    'no-use-before-define': 'off',
    'no-param-reassign': 'off',
    'no-shadow': 'off',
    'no-console': 'off',
  }
}
